:root {
  --clr-black-a0: #0c0c0e;
  --clr-white-a0: #f0efea;
  --clr-white-a0-rgb: 255, 255, 255;
  --clr-gray-a0: #101012; /* Gray dark */
  --clr-gray-a10: #141415;
  --clr-gray-a20: #181818; /* Gray */
  --clr-gray-a30: #23232a;
  --clr-gray-a40: #757575; /* Gray light */
  --clr-gray-a50: #b0b0b0;

  /* Red */
  --clr-primary-a0: #872341; /* Red dark */
  --clr-primary-a10: #be3144; /* Red */
  --clr-primary-a20: #a83a54;
  --clr-primary-a30: #c94a5e;
  --clr-primary-a40: #e05a6a;
  --clr-primary-a50: #f28a9a;

  /* Blue */
  --clr-blue-a10: #0077b6; /* Blue */
  --clr-blue-a20: #3393c7;
  --clr-blue-a30: #66aad2;
  --clr-blue-a40: #99c1dd;
  --clr-blue-a50: #cce0ea;
  --clr-blue-link-a0: #13b0d4;
  --clr-blue-link-hover-a0: #0e7a9c;

  /* Green */
  --clr-green-a10: #5f8b4c; /* Green */
  --clr-green-a20: #7ba964;
  --clr-green-a30: #9fc97c;
  --clr-green-a40: #c3e994;
  --clr-green-a50: #e6ffd1;

  /* Orange */
  --clr-orange-a10: #e6521f; /* Orange */
  --clr-orange-a20: #f16a3a;
  --clr-orange-a30: #f78c5c;
  --clr-orange-a40: #fbbd8c;
  --clr-orange-a50: #ffe2c7;

  --clr-main: var(--clr-primary-a10);
  --clr-main-dark: var(--clr-primary-a0);

  --radius: 8px;
  --radius-small: 4px;

  /* Icon sizes */
  --icon-size: 18px;
  --icon-size-half: 9px; /* For margin-top calculation */

  /*Light mode
  --clr-white-a0: #fafafa;
  --clr-gray-a40: #fafafa;
  --clr-gray-a20: #8e8e8e;
  --clr-black-a0: #212121; */
}
